html, body {
    margin: 0;
    padding : 0;
    width: 100%;
    height: 100%;
}

.contactarea {
    height: 100vh;
    background-color:#ef9a9a;
}
.indexarea {
    height: 100vh;
    background-color:#ce93d8;
}
.ourstackarea {
    height: 100vh;
    background-color:#393cf1;
}
.samplesarea { 
    height: 100vh;
    background-color:#39f1c9;
}
.txtpagearea {
    height: 100vh;
    background-color:#f139a4;
}

#scroll-horizontal .scroll-horizontal > div {
    display: grid !important;
    /* grid-template-rows : auto auto;
    grid-auto-flow: column;//??ㅇ왜 */
  }